:root {
  --vt-c-white: #fff;
  --vt-c-white-soft: #f9f9f9;
  --vt-c-white-mute: #f1f1f1;
  --vt-c-black: #1a1a1a;
  --vt-c-black-pure: #000;
  --vt-c-black-soft: #242424;
  --vt-c-black-mute: #2f2f2f;
  --vt-c-indigo: #213547;
  --vt-c-indigo-soft: #476582;
  --vt-c-indigo-light: #aac8e4;
  --vt-c-gray: #8e8e8e;
  --vt-c-gray-light-1: #aeaeae;
  --vt-c-gray-light-2: #c7c7c7;
  --vt-c-gray-light-3: #d1d1d1;
  --vt-c-gray-light-4: #e5e5e5;
  --vt-c-gray-light-5: #f2f2f2;
  --vt-c-gray-dark-1: #636363;
  --vt-c-gray-dark-2: #484848;
  --vt-c-gray-dark-3: #3a3a3a;
  --vt-c-gray-dark-4: #282828;
  --vt-c-gray-dark-5: #202020;
  --vt-c-divider-light-1: rgb(60 60 60 / 29%);
  --vt-c-divider-light-2: rgb(60 60 60 / 12%);
  --vt-c-divider-dark-1: rgb(84 84 84 / 65%);
  --vt-c-divider-dark-2: rgb(84 84 84 / 48%);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgb(60 60 60 / 70%);
  --vt-c-text-light-3: rgb(60 60 60 / 33%);
  --vt-c-text-light-4: rgb(60 60 60 / 18%);
  --vt-c-text-light-code: var(--vt-c-indigo-soft);
  --vt-c-text-dark-1: rgb(255 255 255 / 87%);
  --vt-c-text-dark-2: rgb(235 235 235 / 60%);
  --vt-c-text-dark-3: rgb(235 235 235 / 38%);
  --vt-c-text-dark-4: rgb(235 235 235 / 18%);
  --vt-c-text-dark-code: var(--vt-c-indigo-light);
  --vt-c-green: #42b883;
  --vt-c-green-light: #42d392;
  --vt-c-green-lighter: #35eb9a;
  --vt-c-green-dark: #33a06f;
  --vt-c-green-darker: #155f3e;
  --vt-c-blue: #3b8eed;
  --vt-c-blue-light: #549ced;
  --vt-c-blue-lighter: #50a2ff;
  --vt-c-blue-dark: #3468a3;
  --vt-c-blue-darker: #255489;
  --vt-c-yellow: #ffc517;
  --vt-c-yellow-light: #ffe417;
  --vt-c-yellow-lighter: #ffff17;
  --vt-c-yellow-dark: #e0ad15;
  --vt-c-yellow-darker: #bc9112;
  --vt-c-red: #ed3c50;
  --vt-c-red-light: #f43771;
  --vt-c-red-lighter: #fd1d7c;
  --vt-c-red-dark: #cd2d3f;
  --vt-c-red-darker: #ab2131;
  --vt-c-purple: #de41e0;
  --vt-c-purple-light: #e936eb;
  --vt-c-purple-lighter: #f616f8;
  --vt-c-purple-dark: #823c83;
  --vt-c-purple-darker: #602960;
  --vt-c-bg: var(--vt-c-white);
  --vt-c-bg-soft: var(--vt-c-white-soft);
  --vt-c-bg-mute: var(--vt-c-white-mute);
  --vt-c-divider: var(--vt-c-divider-light-1);
  --vt-c-divider-light: var(--vt-c-divider-light-2);
  --vt-c-divider-inverse: var(--vt-c-divider-dark-1);
  --vt-c-divider-inverse-light: var(--vt-c-divider-dark-2);
  --vt-c-text-1: var(--vt-c-text-light-1);
  --vt-c-text-2: var(--vt-c-text-light-2);
  --vt-c-text-3: var(--vt-c-text-light-3);
  --vt-c-text-4: var(--vt-c-text-light-4);
  --vt-c-text-code: var(--vt-c-text-light-code);
  --vt-c-text-inverse-1: var(--vt-c-text-dark-1);
  --vt-c-text-inverse-2: var(--vt-c-text-dark-2);
  --vt-c-text-inverse-3: var(--vt-c-text-dark-3);
  --vt-c-text-inverse-4: var(--vt-c-text-dark-4);
  --vt-c-brand: var(--vt-c-green);
  --vt-c-brand-light: var(--vt-c-green-light);
  --vt-c-brand-dark: var(--vt-c-green-dark);
  --vt-c-brand-highlight: var(--vt-c-brand-dark);
  --vt-shadow-1: 0 1px 2px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 6%);
  --vt-shadow-2: 0 3px 12px rgb(0 0 0 / 7%), 0 1px 4px rgb(0 0 0 / 7%);
  --vt-shadow-3: 0 12px 32px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 8%);
  --vt-shadow-4: 0 14px 44px rgb(0 0 0 / 12%), 0 3px 9px rgb(0 0 0 / 12%);
  --vt-shadow-5: 0 18px 56px rgb(0 0 0 / 16%), 0 4px 12px rgb(0 0 0 / 16%);
  --red-1: rgb(255 236 232);
  --red-2: rgb(253 205 197);
  --red-3: rgb(251 172 163);
  --red-4: rgb(249 137 129);
  --red-5: rgb(247 101 96);
  --red-6: rgb(245 63 63);
  --red-7: rgb(203 39 45);
  --red-8: rgb(161 21 30);
  --red-9: rgb(119 8 19);
  --red-10: rgb(77 0 10);
  --orangered-1: rgb(255 243 232);
  --orangered-2: rgb(253 221 195);
  --orangered-3: rgb(252 197 159);
  --orangered-4: rgb(250 172 123);
  --orangered-5: rgb(249 144 87);
  --orangered-6: rgb(247 114 52);
  --orangered-7: rgb(204 81 32);
  --orangered-8: rgb(162 53 17);
  --orangered-9: rgb(119 31 6);
  --orangered-10: rgb(77 14 0);
  --orange-1: rgb(255 247 232);
  --orange-2: rgb(255 228 186);
  --orange-3: rgb(255 207 139);
  --orange-4: rgb(255 182 93);
  --orange-5: rgb(255 154 46);
  --orange-6: rgb(255 125 0);
  --orange-7: rgb(210 95 0);
  --orange-8: rgb(166 69 0);
  --orange-9: rgb(121 46 0);
  --orange-10: rgb(77 27 0);
  --gold-1: rgb(255 252 232);
  --gold-2: rgb(253 244 191);
  --gold-3: rgb(252 233 150);
  --gold-4: rgb(250 220 109);
  --gold-5: rgb(249 204 69);
  --gold-6: rgb(247 186 30);
  --gold-7: rgb(204 146 19);
  --gold-8: rgb(162 109 10);
  --gold-9: rgb(119 75 4);
  --gold-10: rgb(77 45 0);
  --yellow-1: rgb(254 255 232);
  --yellow-2: rgb(254 254 190);
  --yellow-3: rgb(253 250 148);
  --yellow-4: rgb(252 242 107);
  --yellow-5: rgb(251 232 66);
  --yellow-6: rgb(250 220 25);
  --yellow-7: rgb(207 175 15);
  --yellow-8: rgb(163 132 8);
  --yellow-9: rgb(120 93 3);
  --yellow-10: rgb(77 56 0);
  --lime-1: rgb(252 255 232);
  --lime-2: rgb(237 248 187);
  --lime-3: rgb(220 241 144);
  --lime-4: rgb(201 233 104);
  --lime-5: rgb(181 226 65);
  --lime-6: rgb(159 219 29);
  --lime-7: rgb(126 183 18);
  --lime-8: rgb(95 148 10);
  --lime-9: rgb(67 112 4);
  --lime-10: rgb(42 77 0);
  --green-1: rgb(232 255 234);
  --green-2: rgb(175 240 181);
  --green-3: rgb(123 225 136);
  --green-4: rgb(76 210 99);
  --green-5: rgb(35 195 67);
  --green-6: rgb(0 180 42);
  --green-7: rgb(0 154 41);
  --green-8: rgb(0 128 38);
  --green-9: rgb(0 102 34);
  --green-10: rgb(0 77 28);
  --cyan-1: rgb(232 255 251);
  --cyan-2: rgb(183 244 236);
  --cyan-3: rgb(137 233 224);
  --cyan-4: rgb(94 223 214);
  --cyan-5: rgb(55 212 207);
  --cyan-6: rgb(20 201 201);
  --cyan-7: rgb(13 165 170);
  --cyan-8: rgb(7 130 139);
  --cyan-9: rgb(3 97 108);
  --cyan-10: rgb(0 66 77);
  --blue-1: rgb(232 247 255);
  --blue-2: rgb(195 231 254);
  --blue-3: rgb(159 212 253);
  --blue-4: rgb(123 192 252);
  --blue-5: rgb(87 169 251);
  --blue-6: rgb(52 145 250);
  --blue-7: rgb(32 108 207);
  --blue-8: rgb(17 75 163);
  --blue-9: rgb(6 48 120);
  --blue-10: rgb(0 26 77);
  --astroblue-1: rgb(232 243 255);
  --astroblue-2: rgb(190 218 255);
  --astroblue-3: rgb(148 191 255);
  --astroblue-4: rgb(106 161 255);
  --astroblue-5: rgb(64 128 255);
  --astroblue-6: rgb(22 93 255);
  --astroblue-7: rgb(14 66 210);
  --astroblue-8: rgb(7 44 166);
  --astroblue-9: rgb(3 26 121);
  --astroblue-10: rgb(0 13 77);
  --purple-1: rgb(245 232 255);
  --purple-2: rgb(221 190 246);
  --purple-3: rgb(195 150 237);
  --purple-4: rgb(168 113 227);
  --purple-5: rgb(141 78 218);
  --purple-6: rgb(114 46 209);
  --purple-7: rgb(85 29 176);
  --purple-8: rgb(60 16 143);
  --purple-9: rgb(39 6 110);
  --purple-10: rgb(22 0 77);
  --pinkpurple-1: rgb(255 232 251);
  --pinkpurple-2: rgb(247 186 239);
  --pinkpurple-3: rgb(240 142 230);
  --pinkpurple-4: rgb(232 101 223);
  --pinkpurple-5: rgb(225 62 219);
  --pinkpurple-6: rgb(217 26 217);
  --pinkpurple-7: rgb(176 16 182);
  --pinkpurple-8: rgb(138 9 147);
  --pinkpurple-9: rgb(101 3 112);
  --pinkpurple-10: rgb(66 0 77);
  --magenta-1: rgb(255 232 241);
  --magenta-2: rgb(253 194 219);
  --magenta-3: rgb(251 157 199);
  --magenta-4: rgb(249 121 183);
  --magenta-5: rgb(247 84 168);
  --magenta-6: rgb(245 49 157);
  --magenta-7: rgb(203 30 131);
  --magenta-8: rgb(161 16 105);
  --magenta-9: rgb(119 6 79);
  --magenta-10: rgb(77 0 52);
  --gray-1: rgb(247 248 250);
  --gray-2: rgb(242 243 245);
  --gray-3: rgb(229 230 235);
  --gray-4: rgb(201 205 212);
  --gray-5: rgb(169 174 184);
  --gray-6: rgb(134 144 156);
  --gray-7: rgb(107 119 133);
  --gray-8: rgb(78 89 105);
  --gray-9: rgb(39 46 59);
  --gray-10: rgb(29 33 41);
  --success-1: var(--green-1);
  --success-2: var(--green-2);
  --success-3: var(--green-3);
  --success-4: var(--green-4);
  --success-5: var(--green-5);
  --success-6: var(--green-6);
  --success-7: var(--green-7);
  --success-8: var(--green-8);
  --success-9: var(--green-9);
  --success-10: var(--green-10);
  --primary-1: var(--astroblue-1);
  --primary-2: var(--astroblue-2);
  --primary-3: var(--astroblue-3);
  --primary-4: var(--astroblue-4);
  --primary-5: var(--astroblue-5);
  --primary-6: var(--astroblue-6);
  --primary-7: var(--astroblue-7);
  --primary-8: var(--astroblue-8);
  --primary-9: var(--astroblue-9);
  --primary-10: var(--astroblue-10);
  --danger-1: var(--red-1);
  --danger-2: var(--red-2);
  --danger-3: var(--red-3);
  --danger-4: var(--red-4);
  --danger-5: var(--red-5);
  --danger-6: var(--red-6);
  --danger-7: var(--red-7);
  --danger-8: var(--red-8);
  --danger-9: var(--red-9);
  --danger-10: var(--red-10);
  --warning-1: var(--orange-1);
  --warning-2: var(--orange-2);
  --warning-3: var(--orange-3);
  --warning-4: var(--orange-4);
  --warning-5: var(--orange-5);
  --warning-6: var(--orange-6);
  --warning-7: var(--orange-7);
  --warning-8: var(--orange-8);
  --warning-9: var(--orange-9);
  --warning-10: var(--orange-10);
  --link-1: var(--astroblue-1);
  --link-2: var(--astroblue-2);
  --link-3: var(--astroblue-3);
  --link-4: var(--astroblue-4);
  --link-5: var(--astroblue-5);
  --link-6: var(--astroblue-6);
  --link-7: var(--astroblue-7);
  --link-8: var(--astroblue-8);
  --link-9: var(--astroblue-9);
  --link-10: var(--astroblue-10);

  /* semantic color variables for this project */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --section-gap: 160px;
  --color-neutral-1: var(--gray-1);
  --color-neutral-2: var(--gray-2);
  --color-neutral-3: var(--gray-3);
  --color-neutral-4: var(--gray-4);
  --color-neutral-5: var(--gray-5);
  --color-neutral-6: var(--gray-6);
  --color-neutral-7: var(--gray-7);
  --color-neutral-8: var(--gray-8);
  --color-neutral-9: var(--gray-9);
  --color-neutral-10: var(--gray-10);
  --color-text-1: var(--color-neutral-10);
  --color-text-2: var(--color-neutral-8);
  --color-text-3: var(--color-neutral-6);
  --color-text-4: var(--color-neutral-4);
  --color-border-1: var(--color-neutral-2);
  --color-border-2: var(--color-neutral-3);
  --color-border-3: var(--color-neutral-4);
  --color-border-4: var(--color-neutral-6);
  --color-fill-1: var(--color-neutral-1);
  --color-fill-2: var(--color-neutral-2);
  --color-fill-3: var(--color-neutral-3);
  --color-fill-4: var(--color-neutral-4);
  --color-primary-light-1: var(--primary-1);
  --color-primary-light-2: var(--primary-2);
  --color-primary-light-3: var(--primary-3);
  --color-primary-light-4: var(--primary-4);
  --color-link-light-1: var(--link-1);
  --color-link-light-2: var(--link-2);
  --color-link-light-3: var(--link-3);
  --color-link-light-4: var(--link-4);
  --color-secondary: var(--color-neutral-2);
  --color-secondary-hover: var(--color-neutral-3);
  --color-secondary-active: var(--color-neutral-4);
  --color-secondary-disabled: var(--color-neutral-1);
  --color-danger-light-1: var(--danger-1);
  --color-danger-light-2: var(--danger-2);
  --color-danger-light-3: var(--danger-3);
  --color-danger-light-4: var(--danger-4);
  --color-success-light-1: var(--success-1);
  --color-success-light-2: var(--success-2);
  --color-success-light-3: var(--success-3);
  --color-success-light-4: var(--success-4);
  --color-warning-light-1: var(--warning-1);
  --color-warning-light-2: var(--warning-2);
  --color-warning-light-3: var(--warning-3);
  --color-warning-light-4: var(--warning-4);
  --border-radius-none: 0;
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 8px;
  --border-radius-circle: 50%;
  --color-tooltip-bg: var(--gray-10);
  --color-spin-layer-bg: rgb(255 255 255 / 60%);
  --color-menu-dark-bg: #232324;
  --color-menu-light-bg: #fff;
  --color-menu-dark-hover: rgb(255 255 255 / 4%);
  --color-mask-bg: rgb(29 33 41 / 60%);
  --btn-size-medium-height: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
